html,
body {
  background-color: #222;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* .roxo{
  background-color: blueviolet;
  color: #fff;
} */